In [ ]:
import pandas as pd
import numpy as np

from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/data/P230602.csv')

In [ ]:
df['tch_std'] = (df['student_1'] + df['student_2'] + df['student_3'] + df['student_4'] + df['student_5'] + df['student_6']) / df['teacher']

In [ ]:
df_sort = df.sort_values("tch_std",ascending=False)

In [ ]:
df_sort['tch_std'].head()

1044    36.500000
3387    34.125000
1464    32.333333
360     32.041667
687     31.652174
Name: tch_std, dtype: float64

In [ ]:
result = df_sort['teacher'].head(1)
result = result.iloc[-1]

In [ ]:
print(result)

6