1-1

In [1]:
import pandas as pd
import numpy as np

from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
df = pd.read_csv('/content/gdrive/MyDrive/data/M1-1.csv')

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB
None

In [5]:
nrow = int(len(df)*0.7)
print(nrow)

37758

In [6]:
df_train = df.iloc[:int(len(df)*0.7),:]

In [7]:
str = df_train.sort_values(by='price',ascending = False)

In [8]:
df_train_head = str.head(5)

In [10]:
print(df_train_head)

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01

In [11]:
result_median = np.median(df_train_head['depth'])

In [12]:
print(int(result_median))

62

1-2

In [13]:
df = pd.read_csv('/content/gdrive/MyDrive/data/M1-2.csv')

In [14]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'],errors='coerce')

In [15]:
mean = np.nanmean(df['TotalCharges'])
sd = np.nanstd(df['TotalCharges'])

In [16]:
upper = mean + sd*1.5
lower = mean - sd*1.5

In [17]:
result = df[(df['TotalCharges'] >= lower) & (df['TotalCharges'] <= upper)]

In [19]:
summary = result['TotalCharges'].mean()
print(int(summary))

1663

1-3

In [20]:
df = pd.read_csv('/content/gdrive/MyDrive/data/M1-3.csv')

In [24]:
df_af1_min = df[df['am']==1].sort_values(by='hp').head(5)

In [25]:
df_af1_min_mpg = df_af1_min['mpg'].mean()
print(df_af1_min_mpg)

30.0

In [26]:
df_af0_min = df[df['am']==0].sort_values(by='hp').head(5)

In [27]:
df_af0_min_mpg = df_af0_min['mpg'].mean()
print(df_af0_min_mpg)

21.640000000000004

In [28]:
result = round(df_af1_min_mpg - df_af0_min_mpg,1)
print(result)

8.4