In [ ]:
import pandas as pd
import numpy as np

from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/data/P210302.csv')

In [ ]:
cs = df.isna().sum() / len(df)
print(cs)

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Embarked       0.002245
dtype: float64

In [ ]:
cs = pd.DataFrame(cs)
ds = cs.sort_values(by=0,ascending=False)
print(ds.index[0])

Age